!!!
%html
  %head
    %title Book Doctor
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button{type: "button", class: "navbar-toggle collapsed", toggle: "collapse", target: "#bs-example-navbar-collapse-1", expanded: "false"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a{href: "/", class: "navbar-brand"} Book Doctor

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %nav.nav.navbar-nav
            %li= link_to "Doctors", doctors_path
            %li= link_to "Patients", patients_path
            %li= link_to "Add Doctor", new_doctor_path
            %li= link_to "Add Doctor Shift", new_doctor_shift_path
            %li= link_to "Add Patient", new_patient_path


    .container
      = yield
